<div class="errorContent">
  <div class="card-errorContent">
      <div class="header">
        <ion-icon name="close-outline"></ion-icon>
        <h4> Rejeté </h4>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, magni provident voluptatibus laudantium perferendis ut accusantium cumque accusamus, eligendi aperiam officiis sapiente vel delectus similique dolor. Sequi consequatur rem laudantium?
      </div>
      <div class="footer-btn">
        <ion-icon class="arrow" name="arrow-back-outline"></ion-icon>
        <span> Quitter </span>
      </div>
  </div>
</div>
