<div class="overLaySecurity" *ngIf=visibility>
  <div class="card__over">
    <div class="header__card"> Paramètre de Securité </div>
    <div class="card__body">
      <form #f="ngForm" (ngSubmit)="save(f)">
        <div class="input__card">
          <label for="last_passwords"> Ancien mot de passe </label>
          <input id="last_passwords" type="password" placeholder="**********" name="lastPassword" [(ngModel)]="data.lastPassword">
          <em  *ngIf="lastPassword.status"> {{ lastPassword.msg }} </em>
        </div>
        <div class="input__card">
          <label for="new_passwords"> Entrer le nouveau mot de passe </label>
          <input id="new_passwords" type="password" placeholder="**********" name="newPassword" [(ngModel)]="data.newPassword">
          <em  *ngIf="newPassword.status"> {{ newPassword.msg }} </em>
        </div>
        <div class="input__card">
          <label for="conf_passwords"> Confirmer le </label>
          <input id="conf_passwords" type="password" placeholder="**********" name="confirmPassword" [(ngModel)]="data.confirmPassword">
          <em  *ngIf="confirPassword.status"> {{ confirPassword.msg }} </em>
        </div>
        <div class="btn__send">
          <div class="img" *ngIf=isValidate><img src="/assets/img/securityLoad.svg" alt=""></div>
          <button *ngIf=!isValidate type="submit" >Valider les modifications</button>
        </div>
        <div class="closeModal" (click)="closeModal()" >Fermer</div>
      </form>
    </div>
  </div>
</div>
