<div class="container">

  <div class="content-body">

    <div class="title">
      <h2>Banks Ebook </h2>
    </div>

    <p>
      Votre bloc-note personnel à portée de main . Enregistrer , plannifier vos differents programmes en quelques étapes .
    </p>

    <div class="card_img">
      <img src="../assets/img/bg-login.jpg" alt="..."/>
    </div>

    <em>Powered by @Banks coders .</em>

    <div [routerLink]="['/login']" class="login-btn">
      <ion-icon name="log-in-outline"></ion-icon>
      <span> Se Connecter à Banks ebook </span>
    </div>

    <div [routerLink]="['/register']" class="register-btn">
      <ion-icon name="book-outline"></ion-icon>
      <span> Débuter avec Banks ebook </span>
    </div>

    <div [routerLink]="['/default']" class="default-btn">
      <ion-icon class="arrow" name="arrow-forward-outline"></ion-icon>
      <span> Continuer sans se connecter </span>
    </div>

    <div class="footer">
     Write Note Apps .
    </div>

  </div>

</div>
