<div class="container">
  <div class="content-body">

    <div class="title">
      <h5>
        Bienvenue sur Mylife , votre bloc note personnalisé .
      </h5>
    </div>

    <div class="card-img">
      <img src="/assets/img/bg_1.jpg" alt="..."/>
      <img src="/assets/img/bg_2.jpg" alt="..."/>
    </div>

    <em>
      Pour demarer avec ebook , rien de plus simple que de renseigner les differentes informations demandées .
    </em>

    <div class="register__form"> 
      <div class="card-form">
        <form [formGroup]="slideOneForm">
          <div class="input-card">
            <label for="username"> Definissez un Pseudonyme ( Surnom ) * </label>
            <input formControlName="pseudonyme" id="pseudonyme" type="text" placeholder="Banks Furienn">
            <em *ngIf="!slideOneForm.controls.pseudonyme.valid || !pseudoError.status"> {{ pseudoError.msg }}</em>
          </div>
          <div class="input-card">
            <label for="email"> Email * </label>
            <input formControlName="email" id="email" type="email" placeholder="bankfurienn@gmail.com">
            <em *ngIf="!slideOneForm.controls.email.valid || !emailError.status"> {{ emailError.msg }} </em>
          </div>
          <div class="input-card">
            <label for="number"> Mot de passe * </label>
            <input formControlName="passwords" id="passwords" type="password" placeholder="**********">
            <em *ngIf="!slideOneForm.controls.passwords.valid"> Ce champs doit être valide ... </em>
          </div>
        </form>

        <div (click)="saveUser()" class="register-btn">
          <ion-icon name="checkmark-done-outline"></ion-icon>
          <span> Valider l'inscription </span>
        </div>

        <div [routerLink]="['/login']" class="login-account">
          <span>Vous avez déjà un compte ?</span>
        </div>
      </div>
    </div>

      <app-overlay [status]=formIsValid content="Verification des informations en cours ..."></app-overlay>

      <app-success-content title="Validé" [status]=register.status [content]=register.msg></app-success-content>

  </div>
</div>
